dag.enabled = false

params {
    num_files = 5   // Number of FASTA files to copy for analysis
    kmer_size = 3   // Kmer size for matching kmer analysis
//	source_dir="/home/amoya/Data_forTap/selected_Genomes"
	source_dir="/home/jseba/Documents/UTEM/semester_3/tap/tarea-2/Tarea2-repo/nextflow/DATA-source"

}

process {
    cpus = 1
    memory = '1 GB'
    time = '1h'
}

workDir = 'work'

profiles {
    local {
        process.executor = 'local'
	
    }

    hpc {
        process.executor = 'slurm'
        queue = 'larga'
        clusterOptions = '--ntasks=1'
    }
}
